*.dwl
*.dwl2
*.bak
5-Njësit-Banesore/337-0/~$endja-re.doc
shape/
5-Njësit-Banesore/regjistri/~$Regjistri-i-pjeseve-te-nderteses.xlsx
per-ne/output/schema.ini
per-ne/output/bodrumi_-1.csv
*.csv
*.txt
5-Njësit-Banesore/regjistri/~$Koordinatat.xlsx
5-Njësit-Banesore/337-0/~$endja-vjeter.doc
